.success {
	background-color: #FBB9DA;
}

.secondary {
	background-color: #007ab5;
}

.primary {
	background-color: #76adec;
}
.orange {
	background-color: #f37a20;
}

.carousel-caption {
	background-color: black;
	color: white;
	top: 80%;
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;

}

p {
	color: rgb(14, 1, 15);
}

.navbar {
	margin-bottom: 80px;
}

.d-block {
	margin-top: 3vh;
	max-width: 90%; 
	margin-left: auto;
	margin-right: auto;
}
.social {
	height: 60px;
	cursor: pointer;
	/* width: 100%; */
}

.social .col-4 {
	padding: 0;
}
.github{
	background-color: #000000;
	
}

.social img {
	height: 60px;
	width:60px;
}

.headshot{
	width: 200px; 
	margin: 20px 20px 20px 10px;
	border-radius: 100px;
}
.container{ padding-bottom: 60px;}

@media (max-width: 768px)
{
	body{
		width: 100%;
	}
	h1{
		font-size: 20px;
	}
}
	
