.success {
	background-color: #FBB9DA;
}

.secondary {
	background-color: #007ab5;
}

.primary {
	background-color: #76adec;
}
.orange {
	background-color: #f37a20;
}

.portfolio-caption {
	background-color: black;
	color: white;
	top: 80%;
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;

}

p {
	color: rgb(14, 1, 15);
}

.navbar {
	position: absolute;
	top:0;
	width:100vw;
	margin-bottom: 80px;
	z-index: 100000;
}

.d-block {
	margin-top: 3vh;
	max-width: 90%; 
	margin-left: auto;
	margin-right: auto;
}
.social {
	height: 60px;
	cursor: pointer;
	/* width: 100%; */
}

.social .col-4 {
	padding: 0;
}
.github{
	background-color: #000000;
	
}

.social img {
	height: 60px;
	width:60px;
}

body{
	padding-top: 160px;
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}


.headshot{
	width: 200px; 
	margin: 20px 20px 20px 10px;
	border-radius: 100px;
}
.container{ 
	
	padding-bottom: 60px;
}

@media (max-width: 768px)
{
	body{
		width: 100%;
	}
	h1{
		font-size: 20px;
	}
}

#tiles{
	position:relative;
}

.triangle{
	-webkit-mask-image:url(images/Asset\ 3.png);
	mask-image:url(images/Asset\ 3.png);
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	background-color:yellow;
	height:200px;
	width:200px;
	float: left;
	animation: 2s infinite ease rotate;
}

.triangle:nth-child(2n){
	-webkit-mask-image:url(images/Asset\ 3flipped.png);
	mask-image:url(images/Asset\ 3flipped.png);
	background-color: blue;
	position: relative;
	left: -60px;
	animation: 3s infinite ease rotate;
}

.triangle:nth-child(3n){
	background-color: red;
	animation: 5s infinite ease rotate;
}

@keyframes rotate{
	to{
		transform: rotate(360);
		-webkit-transform: rotate(360);
	}
}

.portfolio-caption{
	text-align: center;
}
.portfolio-summary{
	
	margin: 5vh 20vw 5vh 20vw;
}
	
